.bloco-quiz {
  text-align: center;
  width: 100%;
  display: block;

  .erro-display {
    display: none;

    &.show {
      display: block;
    }
  }

  .h2 {
    color: #1dc4bd;
    font-weight: bold;
    font-size: 2rem;
    margin: 15px 0px;
  }

  .h3 {
    font-size: 1.2rem !important;
    margin-bottom: 20px;
    color: #606C80 !important;
    font-weight: normal !important;

    &.red {
      color: #ef1716 !important;
    }
  }

  .h4 {
    font-size: 1rem !important;
    color: #ef1716;
    font-weight: normal !important;
    margin: 0px 0px 15px;
  }

  .form-inputs {
    display: flex;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      display: block;
    }

    div {
      padding: 5px;

      input {
        border: 1px solid #606C80;
        border-radius: 5px;

        &.error {
          border: 1px solid #ef1716;
        }
      }
    }
  }

  .form-radios {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;

    @media (max-width: 768px) {
      display: block;
    }

    .item {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin: 0px 10px;
      border: 1px solid #ccc;
      line-height: 0;

      @media (max-width: 768px) {
        margin-bottom: 10px;
        justify-content: flex-start;
      }

    }
  }

  .img-top-quiz {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: -50px;
  }

  .politica {
    font-size: 12px;
    text-align: left;
    line-height: 14px;
    padding: 0 40px;

    @media (max-width: 768px) {
      padding: 0px 20px;
    }

    div {
      min-height: 50px;
      position: relative;
      float: left;

      @media (max-width: 768px) {
        min-height: 90px;
      }
    }

    a {
      text-decoration: underline;
      color: #606C80;
    }

  }

  .submit {
    input {
      background-color: #ef1716;
      border-top-left-radius: 154px 120px;
      border-top-right-radius: 136px 87px;
      border-bottom-right-radius: 589px 151px;
      border-bottom-left-radius: 140px 120px;
      border: 0;
      font-size: 1.2rem;
      font-family: "baloo bhai 2", Helvetica, Tahoma, sans-serif;
      font-weight: 900;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      color: #fff;
      max-width: 216px;
      margin: 30px auto;
    }
  }

  .formulario-quiz {
    width: 100%;
    display: block;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 17px -4px rgb(194 194 194);
    -moz-box-shadow: 0px 5px 17px -4px rgba(194, 194, 194, 1);
    box-shadow: 0px 5px 17px -4px rgb(194 194 194);
    margin: 80px 0px;
    color: #606C80 !important;

    &.oculto {
      display: none;
    }

    input[type='radio'],
    input[type='checkbox'] {
      width: 15px;
      height: 15px;
      border-radius: 5px;
      border: 0px;
      padding: 0px;
      position: relative;
      float: left;
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
      margin-right: 10px;
      outline: none !important;
      border: 3px solid #333;
    }

    input[type='radio']:before,
    input[type='checkbox']:before {
      content: '';
      display: block;
      width: 60%;
      height: 60%;
      margin: 20% auto;
      border-radius: 50%;
      outline: none !important;
    }

    input[type="radio"]:checked:before,
    input[type="checkbox"]:checked:before {
      background: #ef1716;
      outline: none !important;
    }

    input[type="radio"]:checked,
    input[type="checkbox"]:checked {
      border-color: #ef1716;
      outline: none !important;
    }
  }

  .html-quiz {
    display: none;

    &.exibir {
      display: block;
    }
  }
}

.resultado-quiz {
  display: none;
  width: 100%;
  min-height: 530px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 80px;
  text-align: left;
  color: #fff;

  &.exibir {
    display: block;
  }

  a {
    color: #fff !important;
  }

  .resultado-info {
    color: #fff;
    background-image: url('assets/images/vertical-shape.webp');
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: -30px;
    background-position-y: -80px;
    padding: 35px 110px 35px 35px;
    display: block;
    max-width: 422px;
    background-size: 100% 122%;
    min-height: 445px;
    margin-bottom: 80px;

    p {
      color: #fff;
      font-size: 1.1rem;
      line-height: 1.2rem;
      font-weight: bold;
    }

    h1 {
      color: #fff;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 1.8rem;
      margin: 0px 0px 10px;
    }
  }
}

.h2-quiz {
  margin: 1rem 0 4rem;
  color: #ef1716;
  font-family: "baloo bhai 2", Helvetica, Tahoma, sans-serif;
  font-size: 4.2rem;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
}

.caixa-texto-quiz {
  color: #000;
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .15);
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  margin-bottom: 40px;

  &:hover {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, .15)
  }

  .caixa-imagem {
    display: flex;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    .caixa-branca {
      position: absolute;
      left: 0;
      bottom: 0px;
      background-color: #fff;
      width: 100%;
      padding: 0;
      height: 55px;
      border-radius: 300px 300px 0px 0px;
      border-radius: 50% 50% 0 0;

      span {
        display: inline-block;
        align-self: start;
        position: relative;
        left: 20px;
        bottom: -25px;
        padding: 5px 30px 5px 20px;
        margin-right: 25px;
        color: #fff;
        border-radius: 97px 136px 248px 60px/74px 87px 81px 83px;
        background-color: #ef1716;
        font-family: "baloo bhai 2", Helvetica, Tahoma, sans-serif;
        font-size: 1.1rem;
        font-weight: 900;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: .1s ease;
        transition: .1s ease;
      }
    }
  }

  .texto-interno-quiz {
    font-size: 0.85rem;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    color: #000;
    padding: 20px;
    overflow: hidden;
    min-height: 180px;

    @media (max-width: 768px) {
      min-height: 80px;
    }

    h3 {
      color: #000 !important;
      font-size: 1.1rem !important;
      font-weight: bold !important;
      margin: 0px 0px 10px !important;
      overflow: hidden;
      max-height: 65px;
    }
  }
}

.botao-todos-quiz {
  background-color: #ef1716;
  border-top-left-radius: 154px 120px;
  border-top-right-radius: 136px 87px;
  border-bottom-right-radius: 589px 151px;
  border-bottom-left-radius: 140px 120px;
  border: 0;
  font-size: 1.2rem;
  font-family: "baloo bhai 2", Helvetica, Tahoma, sans-serif;
  font-weight: 900;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: #fff !important;
  max-width: 216px;
  margin: 30px auto;
  display: block;
  padding: 17px 0px;
  height: 55px;
  margin: 30px auto;
}

.quadro_quiz {
  display: block;
  width: 100%;
  margin-bottom: 80px;

  .finalizar {
    display: none;
    width: 150px;
    text-align: center;
    padding: 5px 15px;
    border: 1px solid #000;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;

    &:hover {
      border: red;
      background-color: #ccc;
    }
  }

  .resultado {
    display: block;
    width: 100px;
    text-align: center;
    right: 20px;
    margin: 0;
    position: absolute;
    top: 20px;
    padding: 5px;
    border-radius: 12px;
    background-color: #ef1716;
    color: #fff;
    font-family: "baloo bhai 2", Helvetica, Tahoma, sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
  }

  .pergunta {
    position: relative;
    display: block;
    width: 100%;

    &.oculto {
      display: none;
    }

    .top-quiz {
      position: absolute;
      top: 0;
      max-width: 70px;
      height: auto;
    }

    .pergunta-titulo {
      color: #ef1716;
      font-weight: bold;
      font-size: 2rem;
      margin: 0px 0px 30px;
      display: block;
      width: 100%;
      padding: 0px;
      text-align: left;
    }

    .pergunta-respostas {
      cursor: pointer;
      width: 100%;
    }

    .resposta {
      background-color: #fff;
      width: 100%;
      text-align: center;
      font-family: "baloo bhai 2", Helvetica, Tahoma, sans-serif;
      text-align: left;
      color: #a7a7a7;
      font-family: "baloo bhai 2";
      font-size: 1rem;
      line-height: 2rem;
      margin-bottom: 10px;

      span {
        margin-right: 5px;
        border-radius: 2px;
        border: 1px solid #a7a7a7;
        color: #1dc4bd;
        font-family: "baloo bhai 2";
        font-size: 1rem;
        font-weight: 600;
        line-height: 0px;
        padding: 0px 6px;
        text-align: center;
      }

    }
  }

  .informacoes-quiz {
    display: flex;
    width: 100%;

    @media (max-width: 768px) {
      display: block;
    }

    &.oculto {
      display: none;
    }
  }

  .perguntas-quiz {
    display: none;
    position: relative;
    width: 100%;
    align-items: center;

    &.exibir {
      display: flex;
      flex-direction: row;

      @media (max-width: 768px) {
        display: block;
      }
    }

    .exibir-quiz {
      position: relative;
      width: 100%;
      display: flex;
      padding: 40px;
      align-items: center;
      flex-direction: row;
    }

    .quiz-blur {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 99;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      font-weight: bold;
      height: 100%;
      color: #000;
      background: rgba(255, 255, 255, .8);

      &.exibir {
        display: flex;
      }
    }


  }

  .img-quiz {
    width: 100%;
    display: block;
    max-width: 600px;
    background-size: cover;
    min-height: 550px;
    position: relative;
    background-position: center;

    @media (max-width: 768px) {
      min-height: 300px;
    }

    .img-desk {
      position: absolute;
      right: 0px;
      top: 0px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .img-mob {
      display: none;

      @media (max-width: 768px) {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .botao-iniciar-quiz {
    padding: 1rem 2rem;
    border-radius: 97px 136px 248px 60px/74px 87px 81px 83px;
    background-color: #ef1716;
    color: #fff;
    font-family: "baloo bhai 2", Helvetica, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;
    max-width: 151px;
    width: 100%;
    margin: 40px 0 0px;
    cursor: pointer;
  }

  .quiz-descricao {
    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 17px -4px #c2c2c2;
    -moz-box-shadow: 0px 5px 17px -4px #c2c2c2;
    box-shadow: 0px 5px 17px -4px #c2c2c2;
    margin: 20px 0px;
    color: #606C80 !important;
    display: flex;

    .compartilhar-quiz {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;          
    }    

    &.block {
      display: block;
      width: 100%;
      padding: 70px;

      @media (max-width: 768px) {
        padding: 70px 30px;
      }

      .img-resultado-top-right {
        position: absolute;
        top: 0;
        right: 0;
      }

      .img-resultado-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      .conteudo-resultado {
        margin: 0 auto;
        display: block;
        max-width: 800px;
        color: #a7a7a7;
        font-family: "baloo bhai 2";
        line-height: 20px;

        a {
          color: #a7a7a7 !important;
        }
      }

      .titulo-compartilhe {
        color: #a7a7a7;
        font-family: "baloo bhai 2";
        font-size: 1.2rem;
        font-weight: 900;
        text-align: center;
        margin: 30px auto;
        width: 100%;
      }

      .redes {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .h2 {
      color: #ef1716;
      font-family: "baloo bhai 2";
      font-size: 2.4rem;
      font-weight: 900;
      line-height: 2.4rem;
      margin-bottom: 30px;
      text-align: left;
      width: 100%;

      &.center {
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: 50px;

        @media (max-width: 768px) {
          text-align: left;
          font-size: 1.8rem;
        }
      }
    }

    .h3 {
      margin-bottom: 20px !important;
      color: #1dc4bd !important;
      font-size: 1.2rem !important;
      line-height: 0 !important;
      font-weight: bold !important;

      @media (max-width: 768px) {
        line-height: 1.6 !important;
      }
    }

    .descricao-quiz {
      width: 100%;
      display: flex;
      min-height: 550px;
      padding: 30px;
      line-height: 1.3rem;
      flex-direction: column;
      text-align: left;
      justify-content: center;
    }
  }
}
