{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% for row in rows %}
  <div class="col-12 col-md-6 col-lg-3">
    {% for content in row.content %}
      {% if content._entity is defined %}
        <a class="caixa-texto-quiz" href="/quiz/{{ content._entity.nid.value|raw}}">
          <div class="caixa-imagem" style="background-image: url('{{ get_image_from_id(content._entity.field_imagem.target_id|raw) }}');">
            <div class="caixa-branca">
              <span>Quiz</span>
            </div>
          </div>
          <div class="texto-interno-quiz">
            <h3>{{ content._entity.title.value|raw}}</h3>
            {{ content._entity.field_conteudo.value|raw|striptags|slice(0, 100) ~ '...'}}
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
