@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1170px !important;
    }
    .container-fluid {
        max-width: 1366px !important; 
    }
    body[class*='node--type-article'] {
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 1000px !important;
        }
        .compact .post-card--tag, .post-card.tpl-compact .post-card--tag {
            font-size: 0.7rem;
        }     
        .compact .post-card--title, .post-card.tpl-compact .post-card--title {
            font-size: .9rem;
        }   
    }
}

.social-sharing-buttons {  
    justify-content: flex-start;
    flex-flow: column wrap;
    width: 65px;    
    margin: 0;
    position: absolute;
    top: 0;
    left: -80px;    
    a, &__button {
        text-decoration: none;
        margin: 0 0 .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 98% 62% 79% 91%/42% 69% 81% 68%;
        // background: #ef1716;
        height: 60px;
        width: 60px;
        color: white;
        position: relative;
        svg {
            &:first-of-type {
                position: relative;
                height: 35px;
                width: auto;
                fill: white;
                z-index: 2;
            }
            &:last-of-type {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 60px;
                height: 60px;                
                path {
                    fill: #EF161B
                }
            }
        }          
        &[class*="whatsapp"] {
            svg {
                &:first-of-type {
                    height: 45px;
                }
                &:last-of-type {
                    path {
                        fill: #25D366;
                    }
                }
            }
        }       
        &[class*="facebook"] {
            svg {
                &:last-of-type {
                    path {
                        fill: #39569c;
                    }
                }
            }            
        }             
    }
}
