.view-archive .main-news-row .flex-fill {
  padding: 44px 10px 10px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 15%);
  background: #fff;
}

.view-archive .main-news-row .flex-fill h3{
  font-weight: normal;
}

.block-titulo-simples {
  font-weight: normal;
  font-size: 3.6rem;
}

.view-archive .main-news-row .flex-fill .d-block a{
  font-size: 1.8rem;
  color: red;
  font-weight: normal;
  margin-top: 40px;
  padding-bottom: 40px;
}

.view-archive .main-news-row .flex-fill li {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 0.6rem !important;
  margin-top: 10px;
}

.view-archive .main-news-row .flex-fill h3 {
  font-weight: normal;
}

.view-archive .main-news-row .flex-fill .block-title {
  font-size: 3.0rem;
  color: #EF1716;
  font-weight: normal;
}

.sombra-flex {
  padding: 40px 20px 40px 60px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 15%);
  background: #fff;
}

.view-archive .w-100 {
  width: 96%!important;
}